# NAMA : ROYYAN MUSTOVA 
# NIM  : 5210411237
# KELAS: PBO-P VII

#Class MenuMinuman

In [10]:
class MenuMinuman2:
  def __init__(self,nama,deskripsi,harga):
    self.nama = nama
    self.deskripsi = deskripsi
    self.harga = harga

mnm1 = MenuMinuman2('Jus Jambu','Jus Jambu merah tanpa gula' , 8500)
mnm2 = MenuMinuman2('Jus Alpukat Ori','Jus Alpukat dengan tamahan air gula merah',15000)
mnm3 = MenuMinuman2('Jus Alpukat Xtra Milk', 'Jus Alpukat dengan campurab susu cokelat dan taburan keping coco',15000)
mnm4 = MenuMinuman2('Red & Smooth', 'Smoothie pisang susu dengan strawbery',17500)

pilihan_minuman = [mnm1,mnm2,mnm3,mnm4]
print('Daftar menu Healthy Fruites')
for mn in pilihan_minuman:
  t = '{} harga Rp {}, {}' .format(mn.nama,mn.harga,mn.deskripsi)
  print(t)

Daftar menu Healthy Fruites
Jus Jambu harga Rp 8500, Jus Jambu merah tanpa gula
Jus Alpukat Ori harga Rp 15000, Jus Alpukat dengan tamahan air gula merah
Jus Alpukat Xtra Milk harga Rp 15000, Jus Alpukat dengan campurab susu cokelat dan taburan keping coco
Red & Smooth harga Rp 17500, Smoothie pisang susu dengan strawbery

Contoh program beserta outputnya

In [11]:
class Titik:
  def __init__(self,x,y):
    self.x = x
    self.y = y

titik_a = Titik(0,0)
titik_b = Titik(3,4)
print('Titik A memiliki Koordinat ({},{})' .format(titik_a.x,titik_a.y))
print('Titik B memiliki Koordinat ({},{})' .format(titik_b.x,titik_b.y))

Titik A memiliki Koordinat (0,0)
Titik B memiliki Koordinat (3,4)

Class Buku

In [13]:
class buku:
  def __init__(self,judul,pengarang,tahun_terbit):
    self.judul = judul
    self.pengarang = pengarang 
    self.tahun_terbit = tahun_terbit

buku = buku('Tenggelamnya Kapal Van Der Wijck', 'HAMKA',1938)
t= 'buku {} Karangan {} pertama kali diterbitkan tahun {}'.format(buku.judul,buku.pengarang,buku.tahun_terbit)
print(t)

buku Tenggelamnya Kapal Van Der Wijck Karangan HAMKA pertama kali diterbitkan tahun 1938

Class Garis

In [16]:
# titik dibentuk posisi pada sumbu x dan y
class Titik:
  def __init__(self,x,y):
    self.x = x
    self.y = y

# garis dibentuk dari dua titik
class Garis:
  def __init__(self,titik_pertama,titik_kedua):
    self.titik_pertama = titik_pertama
    self.titik_kedua = titik_kedua

  def panjang(self):
    pjg_x = self.titik_kedua.x - self.titik_pertama.x
    pjg_y = self.titik_kedua.y - self.titik_pertama.y
    pjg = (pjg_x**2 + pjg_y**2) ** 0.5
    return pjg

titik_a = Titik(0,0)
titik_b = Titik(3,4)
garis_ab = Garis(titik_a,titik_b)
print('panjang garis ab adalah {}'.format(garis_ab.panjang))

panjang garis ab adalah <bound method Garis.panjang of <__main__.Garis object at 0x7f5fc10eaa50>>

Class Mahasiswa

In [17]:
class Mahasiswa:
  def __init__(self,nama,nim,prodi,thn_masuk):
    self.nama = nama
    self.nim = nim
    self.prodi = prodi
    self.thn_masuk = thn_masuk

m1 = Mahasiswa('Udin', '10120371', 'Sistem Informasi',2020)
teks ='{} adalah mahasiswa {} angkatan {} dengan nim {}'.format(m1.nama,m1.prodi,m1.thn_masuk,m1.nim)
print(teks)

Udin adalah mahasiswa Sistem Informasi angkatan 2020 dengan nim 10120371

(1.) 2 objek pada Kelas Menu

In [2]:
class MenuMakanan:
  def __init__(self,nama,deskripsi,harga):
    self.nama = nama
    self.deskripsi = deskripsi
    self.harga = harga

mnm1 = MenuMakanan('Bakso Biasa','Bakso urat dengan campuran mie' , 10000)
mnm2 = MenuMakanan('Bakso Iga','Bakso urat dengan tambahan satu iga',15000)
mnm3 = MenuMakanan('Mie Ayam bakso', 'Mie Ayam dengan tambahan 3 butir bakso',13000)
mnm4 = MenuMakanan('Mie Ayam Ceker', 'Mie Ayam dengan topping ceker',14000)

pilihan_makanan = [mnm1,mnm2,mnm3,mnm4]
print('Daftar menu makanan bakso & mie ayam')
for mn in pilihan_makanan:
  t = '{} harga Rp {}, {}' .format(mn.nama,mn.harga,mn.deskripsi)
  print(t)

Daftar menu makanan bakso & mie ayam
Bakso Biasa harga Rp 10000, Bakso urat dengan campuran mie
Bakso Iga harga Rp 15000, Bakso urat dengan tambahan satu iga
Mie Ayam bakso harga Rp 13000, Mie Ayam dengan tambahan 3 butir bakso
Mie Ayam Ceker harga Rp 14000, Mie Ayam dengan topping ceker

(2.) 2 objek kelas Mahasiswa

In [4]:
class Mahasiswa:
  def __init__(self,nama,nim,prodi,thn_masuk):
    self.nama = nama
    self.nim = nim
    self.prodi = prodi
    self.thn_masuk = thn_masuk

m1=Mahasiswa('Amabar',52104111,'Manajemen',2019)
m2=Mahasiswa('Titik',52104222,'ilmu komunikasi',2018)
m3=Mahasiswa('fauzi',52104333,'Teknik sipil',2020)
m4=Mahasiswa('Ahmad',52104444,'Teknik industri',2021)
mahas=[m1,m2,m3,m4]
for x in mahas:
  print('nama {} dengan nim {} jurusan {} tahun masuk {}'.format(x.nama,x.nim,x.prodi,x.thn_masuk))

nama Amabar dengan nim 52104111 jurusan Manajemen tahun masuk 2019
nama Titik dengan nim 52104222 jurusan ilmu komunikasi tahun masuk 2018
nama fauzi dengan nim 52104333 jurusan Teknik sipil tahun masuk 2020
nama Ahmad dengan nim 52104444 jurusan Teknik industri tahun masuk 2021

(3.) 2 objek pada kelas Buku

In [20]:
class buku:
  def __init__(self,judul,pengarang,tahun_terbit):
    self.judul = judul
    self.pengarang = pengarang
    self.tahun_terbit = tahun_terbit

b1= buku('Perempuan Jogja','AHMAD MUNIF',2010)
b2= buku('Sihir Perempuan','INTAN PARAMADHITA',2005)
b3= buku('Antara Ayah dan Anak','IVAN S. TURGENEV',1986)
cerpen=[b1,b2,b3]
for x in cerpen:
  print('buku {} karangan {} tahun diterbitkan {}'.format(x.judul,x.pengarang,x.tahun_terbit))

buku Perempuan Jogja karangan AHMAD MUNIF tahun diterbitkan 2010
buku Sihir Perempuan karangan INTAN PARAMADHITA tahun diterbitkan 2005
buku Antara Ayah dan Anak karangan IVAN S. TURGENEV tahun diterbitkan 1986