In [ ]:
# NAMA : ROYYAN MUSTOVA
# NIM  : 5210411237
# KELAS: PBOP-VII
#TUGAS 4

In [ ]:
class segitiga:
  def __init__(self,alas,tinggi):
    self.alas = alas
    self.tinggi = tinggi
    self.luas = 0.5 * alas * tinggi

segitiga_besar = segitiga(100,80)

#akses variabel public alas, tinggi, dan luas dari luar kelas segitiga
print("alas: ",segitiga_besar.alas)
print("tinggi: ",segitiga_besar.tinggi)
print("luas: ",segitiga_besar.luas)

alas:  100
tinggi:  80
luas:  4000.0

HAK AKSES PROTECTED

In [ ]:
class Utama:
  def __init__(self):
     self._a = 2

class Turunan(Utama):
  def __init__(self):
    #Memanggil konstruktor pada kelas Utama
    Utama.__init__(self)
    print("Memanggil variabel protected pada class utama: ",self._a)

    #Memodify the protected variable:
    self._a = 3
    print("Memanggil variabel protected yang dimodifikasi diluar class: ",self._a)


objek1= Turunan()
objek2= Utama()

#Memanggil variabel protected
print("Mengakses variabel protected dari objek1: ", objek1._a)
print("Mengakses variabel protected dari objek2: ", objek2._a)

Memanggil variabel protected pada class utama:  2
Memanggil variabel protected yang dimodifikasi diluar class:  3
Mengakses variabel protected dari objek1:  3
Mengakses variabel protected dari objek2:  2

HAK AKSES PRIVATE

In [1]:
class Hitung:
    def __init__(self) -> None:
        self.__angkaRahasia = 0

    def tampilkanHitung(self):
        self.__angkaRahasia += 1
        print(self.__angkaRahasia)


h = Hitung()

h.tampilkanHitung()
h.tampilkanHitung()
h._Hitung__angkaRahasia

1
2

2

In [3]:

class Mobil:
    def __init__(self, jendela, pintu, mesin) -> None:
        self._jendela = jendela
        self._pintu = pintu
        self._mesin = mesin


class truk(Mobil):
    def __init__(self, jendela, pintu, mesin, Merk) -> None:
        super().__init__(jendela, pintu, mesin)
        self._merk = Merk


tes = truk(2, 4, 'diesel', 'mitsubushi')

# memanggil protected
print(
    f'Truk dengan {tes._pintu} Pintu dan {tes._jendela} Jendela ini bermesin {tes._mesin} dibuat oleh {tes._merk}')

Truk dengan 4 Pintu dan 2 Jendela ini bermesin diesel dibuat oleh mitsubushi

In [5]:
class Mobil:
    def __init__(self, jendela, pintu, mesin) -> None:
        self.jendela = jendela
        self.pintu = pintu
        self.mesin = mesin


class sedan(Mobil):
    def __init__(self, jendela, pintu, mesin, Merk) -> None:
        super().__init__(jendela, pintu, mesin)
        self.merk = Merk


tes = sedan(2, 2, '1000 HP', 'Ferari')

# memanggil protected
print(
    f'Sedan dengan {tes.pintu} Pintu dan {tes.jendela} Jendela ini bermesin {tes.mesin} dibuat oleh {tes.merk}')

Sedan dengan 2 Pintu dan 2 Jendela ini bermesin 1000 HP dibuat oleh Ferari

In [ ]:
class Mobil:
    def __init__(self, jendela, pintu, mesin) -> None:
        self.__jendela = jendela
        self.__pintu = pintu
        self.__mesin = mesin


class Sport(Mobil):
    def __init__(self, jendela, pintu, mesin, warna) -> None:
        super().__init__(jendela, pintu, mesin)
        self.__warna = warna


tes = Sport(2, 2, '1300 HP', 'Merah')


# memanggil private
print(tes._Mobil_warna)

In [ ]:
class Pegawai:
    __nama=""
    __alamat=""
    __gaji=0
    
    def __init__(self,nama,alamat):
        self.__nama=nama
        self.__alamat=alamat
        
    def __hitungGaji(self):
        upahLembur=20000
        gajiPokok=2000000
        jumLembur=int(input("total jam lembur: "))
        self.__gaji=(upahLembur*jumLembur)+gajiPokok
        
    def tampilDetail(self):
        print("\n--Menghitung dan Menampilkan Detail Gaji Pegawai--")
        print("Nama: ", self.__nama)
        print("Alamat: ", self.__alamat)
        self.__hitungGaji()
        print("Total Gaji: ", self.__gaji)
        
#membuat objek pegawai
pgw1=Pegawai("ahmad", "jl.jendral sudirman no.5")
pgw1.tampilDetail()

pgw2=Pegawai("firman", "jl.duku no.6")
pgw2.tampilDetail()

--Menghitung dan Menampilkan Detail Gaji Pegawai--
Nama:  ahmad
Alamat:  jl.jendral sudirman no.5
total jam lembur: 2
Total Gaji:  2040000

--Menghitung dan Menampilkan Detail Gaji Pegawai--
Nama:  firman
Alamat:  jl.duku no.6
total jam lembur: 4
Total Gaji:  2080000

In [13]:
class Buku:
    def __init__(self, judul, pengarang, tahun_terbit, penerbit):
        self.judul = judul
        self.pengarang = pengarang
        self.tahun_terbit = tahun_terbit
        self.__penerbit = penerbit


buku1 = Buku('Perempuan Jogja', 'AHMAD MUNIF', 2010, 'erlangga')
buku2 = Buku('Sihir Perempuan', 'INTAN PARAMADHITA', 2005, 'erlangga')
buku3 = Buku('Antara Ayah dan Anak',
             'IVAN S. TURGENEV', 1986, 'erlangga')

perpus = [buku1, buku2, buku3]

for i in perpus:
    print(
        f'Buku {i.judul} karangan {i.pengarang} pertama kali diterbitkan tahun {i.tahun_terbit} oleh {i._Buku__penerbit}')

Buku Perempuan Jogja karangan AHMAD MUNIF pertama kali diterbitkan tahun 2010 oleh erlangga
Buku Sihir Perempuan karangan INTAN PARAMADHITA pertama kali diterbitkan tahun 2005 oleh erlangga
Buku Antara Ayah dan Anak karangan IVAN S. TURGENEV pertama kali diterbitkan tahun 1986 oleh erlangga

In [14]:
class Mahasiswa:
    def __init__(self, nama, nim, prodi, thn_masuk, gender):
        self.nama = nama
        self.nim = nim
        self.prodi = prodi
        self.thn_masuk = thn_masuk
        self.__gender = gender


m1 = Mahasiswa('Udin', '10120371', 'Sistem Informasi', 2020, 'Laki - Laki')
m2 = Mahasiswa('Danu', '5210411165', 'Informatika', 2021, 'Laki - Laki')
m3 = Mahasiswa('Esa', '5210411159', 'Informatika', 2021, 'Laki - Laki')

data = [m1, m2, m3]

for i in data:
    print(f'{i.nama} adalah mahasiswa {i.prodi} angkatan {i.thn_masuk} dengan nim {i.nim} ia berjenis kelamin {i._Mahasiswa__gender}')

Udin adalah mahasiswa Sistem Informasi angkatan 2020 dengan nim 10120371 ia berjenis kelamin Laki - Laki
Danu adalah mahasiswa Informatika angkatan 2021 dengan nim 5210411165 ia berjenis kelamin Laki - Laki
Esa adalah mahasiswa Informatika angkatan 2021 dengan nim 5210411159 ia berjenis kelamin Laki - Laki

In [15]:
class menuMinuman:
    def __init__(self, nama, deskripsi, harga, gula):
        self.nama = nama
        self.deskripsi = deskripsi
        self.harga = harga
        self.__gula = gula


mnm1 = menuMinuman('Jus Jambu', 'Jus jambu merah tanpa gula',
                   8500, 'less Sugar / Normal')
mnm2 = menuMinuman('Jus Alpukat Ori',
                   'Jus alpukat dengan tambahan air gula merah', 15000, 'less Sugar / Normal')
mnm3 = menuMinuman('Jus Alpukat Xtra Milk',
                   'Jus alpukat dengan campuran susu coklat dan tamburan kepingan choco', 15000, 'less Sugar / Normal')
mnm4 = menuMinuman(
    'Red & Smoothie', 'Smoothie pisang susu dan strawberry', 17500, 'less Sugar / Normal')

mnm5 = menuMinuman('Boba Red Velvet',
                   'Minuman Segar disertai boba', 15000, 'less Sugar / Normal')
mnm6 = menuMinuman('Es Teh', 'Minuman Menyegarkan',
                   5000, 'less Sugar / Normal')


pilihanMenu = [mnm1, mnm2, mnm3, mnm4, mnm5, mnm6]
print('Daftar Menu Healthy Fruits')

for i in pilihanMenu:
    print('{} harga Rp. {} , {} , {}' .format(
        i.nama, i.harga, i.deskripsi, i._menuMinuman__gula))

Daftar Menu Healthy Fruits
Jus Jambu harga Rp. 8500 , Jus jambu merah tanpa gula , less Sugar / Normal
Jus Alpukat Ori harga Rp. 15000 , Jus alpukat dengan tambahan air gula merah , less Sugar / Normal
Jus Alpukat Xtra Milk harga Rp. 15000 , Jus alpukat dengan campuran susu coklat dan tamburan kepingan choco , less Sugar / Normal
Red & Smoothie harga Rp. 17500 , Smoothie pisang susu dan strawberry , less Sugar / Normal
Boba Red Velvet harga Rp. 15000 , Minuman Segar disertai boba , less Sugar / Normal
Es Teh harga Rp. 5000 , Minuman Menyegarkan , less Sugar / Normal